* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    justify-content: center;

    color: #FFF;
    background-color: #5995DA;
    padding: 20px 0;
}

.menu {
    display: flex;
    justify-content: space-between;

    border: 1px solid #FFF;
    width: 900px;
}

.links {
    display: flex;
    justify-content: flex-end;

    border: 1px solid #FFF;
}

.login {
    margin-left: 20px;
}
